#menubutton {
   background-color:#07d4a8;
   border:hidden;
   font-size: 20px;
   margin-top: 5%;
   width: 150px;
   border: 1px #48756d;
   border-radius: 5px;
   text-decoration: none;
   color: black;
   align-items: center;
   float: flex;
}

#menubutton:hover {
   background-color: #05a583;
   

}

div {
  display:inline-block;
  margin-top: 1%;
  height: 60%;
  width: 100%;
  background-color: #595959;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 3%;
}

p.fieldlabel {
  font-size: 20px;
  
}

button.menubutton {
  background: transparent;
  clip-path: circle();
}

button.menubutton:hover {
  background: black;
  opacity: 0.1;
  clip-path: circle();
}

input.fields {
  background-color: #1c1c1c;
  border-color: #242424;
  border-radius: 5px;
  border-style: solid;
  color:white;
}
button.submitInfo {
  background-color:#07d4a8;
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 25px;
}