#menubutton {
   background-color:#07d4a8;
   border:hidden;
   font-size: 20px;
   margin-top: 5%;
   width: 150px;
   border: 1px #48756d;
   border-radius: 5px;
   text-decoration: none;
   color: black;
   align-items: center;
   float: flex;
}

#menubutton:hover {
   background-color: #05a583;
   

}

div {
  height: 80%;
  width: 100%;
}

div div.gameList{
  display:inline-block;
  margin-top: 1%;
  background-color: #595959;
  height: 30%;
  width: 20%;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 26%;
}

div div.gameOverview {
  margin-top: 1%;
  float:right;
  background-color: #595959;
  height: 40%;
  width: 79%;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 6.5%;
}

p.header {
  text-align: center;
  padding-bottom: 10px;
  border-bottom:aquamarine;
  border-bottom-style: solid;
  font-size: 20px;
}

ul.gameList {
  overflow: scroll;
  list-style-type: none;
}

button.cardInList {
  display: flex;
  flex-direction: row;
  background-color: #595959;
  border-style: none;
  
}
button.cardInList p {
  margin-left: 10px;
  color: aquamarine
}
button.cardInList:hover {
  background-color: #393939;
  border-style: none;
}

button.general {
  background-color:rgb(20, 220, 163);
  padding:10px;
  border-radius: 10px;
  border-style: none;
}
button.general:hover {
  background-color: rgb(13, 160, 118);
}

input.settings-input {
  background-color:#363636;
  border-color: #313030;
  color: white;
  border-style: none;
}