ul {
  list-style-type: none;
  margin: 0;
  padding: 9px;
  border-radius: 3px;
  overflow: hidden;
  background-color:#07d4a8;
}

ul li {
  float: left;
}
ul li a {
  display:block;
  color:black;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

ul li a:hover {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #05a583;
}

div.default-message {
  height: 80%;
  width: 80%%;

}

