body {
  z-index: -1
}

div {
  height: 80%;
  width: 100%;
}

div div.cardList{
  display:inline-block;
  margin-top: 1%;
  background-color: #595959;
  height: 30%;
  width: 20%;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 26%;
}

div div.cardOverview {
  margin-top: 1%;
  float:right;
  background-color: #595959;
  height: 40%;
  width: 79%;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 14.7%;
}

p.header {
  text-align: center;
  padding-bottom: 10px;
  border-bottom:aquamarine;
  border-bottom-style: solid;
  font-size: 20px;
}

ul.cardList {
  overflow: scroll;
  list-style-type: none;
}

button.cardInList {
  display: flex;
  flex-direction: row;
  background-color: #595959;
  border-style: none;
  
}
button.cardInList p {
  margin-left: 10px;
  color: aquamarine
}
button.cardInList:hover {
  background-color: #393939;
  border-style: none;
}

button#transferbutton {
  background-color:rgb(20, 220, 163);
  padding:10px;
  border-radius: 10px;
  border-style: none;
}
button#transferbutton:hover {
  background-color: rgb(13, 160, 118);
}

button#lockbutton {
  background-color:rgb(206, 193, 8);
  padding:10px;
  border-radius: 10px;
  border-style: none;
}
button#lockbutton:hover {
  background-color: rgb(116, 108, 6);;
}

button#removebutton {
  background-color:crimson;
  padding:10px;
  border-radius: 10px;
  border-style: none;
}
button#removebutton:hover {
  background-color: rgb(162, 16, 45);
}

div.bg-fade {
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: 1000;
  background-color: black;
}