div.admin-overview {
  display:flex;
  flex-direction: row;
  height: 130%;
  width: 100%;
  background-color: #595959;
  border-radius: 10px;
  margin-top: 9%;
  border-style: hidden;
}

div.requests {
   height:50%;
   width:50%;
   border-left: #424242;
   border-left-style: solid;
   border-radius: 5px;
}

div.admin-info {
   
   height:50%;
   width:50%;
}

h1.title {
   text-align: center;
   flex-direction: column;
}

div.stats {
  display:flex;
  flex-direction: row;
  width:24%;
  background-color: #595959;
  border-radius: 10px;
  margin-top: 2%;
  float:left;
  border-style: hidden;
  margin-right:1%;
}
p.header {
   font-size: 22px;
   padding-left: 20px;
} 

p.counter {
   flex-direction: column;
   font-size:35px;
}

#menubutton {
   background-color:#07d4a8;
   border:hidden;
   font-size: 20px;
   margin-top: 5%;
   width: 150px;
   border: 1px #48756d;
   border-radius: 5px;
   text-decoration: none;
   color: black;
   align-items: center;
   float: flex;
}

#menubutton:hover {
   background-color: #05a583;
   

}