

div.login {
  display:flex;
  flex-direction: column;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content:center;
  width: 430px;
  border-radius: 25px;
  background-color: #454444;
  padding: 20px;
  text-align: center;
  float: center;
  align-items: center;
  padding:30px;
  
}

#error_message {
  border-color: #5f0101;
  background-color: #990202;
  color:white;
  border-width: 3px;
  border-radius: 13px;
  border-style: solid;
  width: 300px;
  display: none;
}

img.logo {
  filter: drop-shadow(3px 4px 4px #4444dd);
}

img.text {
  margin-bottom: 5%;
  filter: drop-shadow(3px 4px 4px #ad44dd)
}

p1 {
  color:#767474;
  font-size:13px;
}

p2 {
  font-size: 18px;
}


label {
  padding-right: 230px;
  display: block;
}

#login {
  margin-top: 2%;
  width: 300px;
  border: 1px #48756d;
  background-color: #6bb4a7;
  border-radius: 5px;
  font-size: 30px;
}

#login:hover {
  margin-top: 2%;
  width: 300px;
  border: 1px #48756d;
  background-color: #518a7f;
  border-radius: 5px;
  font-size: 30px;
}

input {
  width: 300px;
  padding: 3px;
  background-color:#363636;
  border-color: #313030;
  border-radius: 3px;
  color: #ffffff;
}

a.registration-link {
  margin-bottom: 20px;
  text-decoration: none;
  color: #6bb4a7;
}

a.registration-link:hover {
  text-decoration: underline;
}

