body {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  color:aquamarine;
  background-color: #242745;
  font-family: Arial, Helvetica, sans-serif;
}

div.login {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content:center;
  height: 750px;
  width: 430px;
  border-radius: 25px;
  background-color: #454444;
  padding: 20px;
  text-align: center;
  float: center;
  align-items: center;
  
}


img.text {
  margin-bottom: 5%;
  filter: drop-shadow(3px 4px 4px #ad44dd)
}

p1 {
  font-size:29px;
}

p2 {
  font-size: 18px;
}


label {
  margin-bottom: 3%;
  padding-right: 240px;
  display: block;
}

label.email {
  margin-bottom: 3%;
  padding-right: 210px;
  display: block;
}

label.dn {
  margin-bottom: 3%;
  padding-right: 215px;
  display: block;
}

label.rtpw {
  margin-bottom: 3%;
  padding-right: 185px;
  display: block;
}

#register {
  margin-top: 5%;
  width: 300px;
  border: 1px #48756d;
  background-color: #6bb4a7;
  border-radius: 5px;
  font-size: 30px;
}

input {
  width: 300px;
  padding: 3px;
  background-color:#363636;
  border-color: #313030;
  border-radius: 3px;
  color: #ffffff;
}

a.registration-link {
  margin-bottom: 100px;
  text-decoration: none;
  color: #6bb4a7;
}

a.registration-link:hover {
  text-decoration: underline;
}


footer {
  margin-top: 50%;
  border-top-style: solid;
  border-radius: 3px;
  border-width: 5px;
  border-color:aquamarine;
  justify-content: center;
  text-align: center;
  font-size:20px;
}
